.Show{
  width: 100%;
  height: 820px;
  background-image: url(./../img/bg.png);
  display: flex;
  flex-direction: column;
  padding: 220px 200px 40px;
}

.Title{
  font-family: 'Muller';
  font-weight: 800px;
  color: white;
  font-size: 48px;
  text-align: center;
}

.Case{
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

 .Img{
  width: auto;
  height: 240px;
}

.Img1{
  width: auto;
  height: 240px;
} 