@font-face {
    font-family: 'Muller';
    src: url('./muller/MullerNarrow-ExtraBold.eot');
    src: url('./muller/MullerNarrow-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('./muller/MullerNarrow-ExtraBold.woff2') format('woff2'),
        url('./muller/MullerNarrow-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Cambria';
    src: url('./cambria/Cambria.eot');
    src: url('./cambria/Cambria.eot?#iefix') format('embedded-opentype'),
        url('./cambria/Cambria.woff2') format('woff2'),
        url('./cambria/Cambria.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}